<h1 class="page-title">Change Activity </h1>

<%= render 'form', activity: @activity %>

<%=icon('fas', 'search-plus')%><%= link_to 'Display', @activity %> |
<%= icon('fas', 'backward') %><%= link_to 'Back', activities_path %>
